@model app.Models.Affect_enseignant_matiere

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Affect_enseignant_matiere</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enseignant.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enseignant.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matiere.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matiere.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
